<!DOCTYPE html>
<html>
<head>
    <%- include("common/head.ejs") %>
    <title>Document</title>
</head>
<body>
    <%- include("common/navbar.ejs") %>
    <div class="container-sm">
        سلام از تماس با ما
    </div>
    <%- include("common/footer.ejs") %>
    <%- include("common/script.ejs") %>
</body>
</html>