<div id="social-menu" >
    <ul >
        <a class="instagram" href="#"><li><i class="fa fa-instagram"></i></li></a>
        <a class="linkedin" href="#"><li><i class="fa fa-linkedin"></i></li></a>
        <a class="telegram" href="#"><li><i class="fa fa-telegram"></i></li></a>
        <a class="github" href="#"><li><i class="fa fa-github"></i></li></a>
        <a class="twitter" href="#"><li><i class="fa fa-twitter"></i></li></a>
        <a class="rss" href="#"><li><i class="fa fa-rss"></i></li></a>
    </ul>
</div>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark ">
    <div class="container-sm">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="/">
                    <img id="nav-logo" class="" src="/images/logo.png" alt="">
                   
                </a>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item ms-2">
                        <a class="nav-link active" aria-current="page" href="/">خانه</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          دسته بندی ها
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">مقالات</a>
                          <a class="dropdown-item" href="#">محصولات</a>
                        </div>
                    <li class="nav-item ms-2">
                        <a class="nav-link" href="/contact">تماس با ما</a>
                    </li>
                    <li class="nav-item ms-2">
                        <a class="nav-link " href="/about" tabindex="-1">درباره ما</a>
                    </li>
                </ul>
                <form class="d-flex">


                    <input class="form-control ms-2" type="search" id="search" placeholder="جستجو ..." aria-label="Search">
                    <button class="my-button" onclick="search(data)">جستجو</button>
                </form>
                <div id="nav-login" class="me-3">

                    <span><a href="/auth"><i class="fa fa-user"></i> حساب کاربری</a></span>
                </div>
            </div>
        </div>
    </div>
</nav>